
.body-Text, p, .section-heading ,h1{
    color: white;
}
button {
    border-radius: 20px;
}

h2 {
 font-style:italic;
 font-family:'Times New Roman', Times, serif;
}
.search-btn {
    padding:20px;
}

.form-control {
    margin-top: 15px;
}
